<%# shared/aktion_article/_slide_wrapper_form.html.erb %>
<%# called from:
- shared/aktion_article/_galerie_photos.html.erb
%>

<% title = title_for_existing_md(parent, pict) %>



<%# FIXME:
1. change all the references to pict.id to pict.media_container.id
2. change the module to handle directly the media_container.id instead of passing through the picturizing.id
%>

<%# RENDER THE EXISTING PICTURE WITH THE CROPPING FIELDS %>
<%= render 'shared/aktion_article_portrait/crop_fields_for',
    media_container: pict.media_container,
    name_builder: "#{item}[md_to_update][#{pict.id}]",
    id_builder: "#{item}_media_container_md_to_update_#{pict.id}",
    index: pict.id,
    width: 1200,
    height: 500
%>



<!-- FORM FIELD FOR THE PICTURE (MEDIA_CONTAINER) TITLE-->
<div class="form-group">
  <%= text_field_tag("#{item}[md_to_update][#{pict.id}][title]", title, id:"#{item}_media_container_md_to_update_#{pict.id}", class: "form-control") %>
</div>
<!-- END FORM FIELD FOR THE PICTURE TITLE-->




<!-- ADDITIONAL ACTIONS ON THE PICTURE: -->
  <!-- DESTROY CHECKBOX -->
  <span class="checkbox">
    <label for=<%= "#{item}_media_container_md_for_destruction_#{pict.id}"%> >
      <input class="check_boxes required"  type="checkbox" name=<%="#{item}[md_for_destruction][#{pict.id}]"%> id=<%="#{item}_media_container_md_for_destruction_#{pict.id}"%> value='true' <%= mark_as_checked_if_pict_is_marked_for_destruction(marked_for_destruction, pict) %> >
      <%= t :picture_mark_for_deletion, default: "Delete this picture" %>
    </label>
  </span>
  <!-- END DESTROY CHECKBOX -->

  <!-- Check box picture is for_card -->

  <span class="radio">
    <label for=<%= "#{item}_media_container_for_card_#{pict.id}"%> >
      <input class="radio_buttons required"  type="radio" name=<%="#{item}[for_card]"%> id=<%="#{item}_media_container_for_card_#{pict.id}"%> value=<%= "existing_md_#{pict.id}"%> <%= mark_as_checked_if_pict_is_for_card(parent, pict) %> >
      <%= t :check_box_label_is_picture_for_card, item: @this_item_i18n_name, default: "You want to use this picture as main illustration on the index pages where this #{@this_item_i18n_name} is displayed." %>
    </label>
  </span>
  <!-- end check box picture is for_card -->

  <!-- CHECKBOX USE THIS PICTURE IN SLIDER -->
  <% checked_yes, checked_no = marked_for_carousel(parent, pict) %>

  <div>
    <%= t :check_box_label_is_picture_for_carousel, default: "You want this picture to appear in the carousel: " %>
    <label for=<%= "#{item}_media_container_for_carousel_#{pict.id}_yes"%> class="radio-inline" >
      <input class="radio_buttons required"  type="radio" name=<%="#{item}[md_for_carousel][#{pict.id}]"%> id=<%="#{item}_media_container_for_carousel_#{pict.id}_yes"%> value='true' <%= checked_yes %> ><%= t :si, default: "Yes" %>
    </label>
    <label for=<%= "#{item}_media_container_for_carousel_#{pict.id}_no"%> class="radio-inline" >
      <input class="radio_buttons required"  type="radio" name=<%="#{item}[md_for_carousel][#{pict.id}]"%> id=<%="#{item}_media_container_for_carousel_#{pict.id}_no"%> value='false' <%= checked_no %> ><%= t :non, default: "No" %>
    </label>
  </div>
  <!-- END CHECKBOX USE THIS PICTURE IN SLIDER -->

<!-- END ADDITIONAL ITEMS -->
  <hr>
