<%# shared/aktion_article_portrait/_categories_form.html.erb %>
<%# called from:
- articles/_form.html.erb
- aktions/_form.html.erb
- portraits/_form.html.erb
%>


<% item = categories_form.model_name.param_key %>

<div class="row">
  <% missing_categories_error_class = categories_form.errors[:missing_categories].present? ? 'has-error' : '' %>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 <%= missing_categories_error_class %>">
    <hr>


    <!-- Checkboxes Categories Chooser -->
    <div class="form-group">

      <label class="required control-label"><abbr title="champ obligatoire">*</abbr> <%= t :categories_to_apply_to_this_item, this_item: @this_item_i18n_name, default: "Choose the categories you want to apply to #{@this_item_i18n_name} here:" %></label>






        <% @categories.each do |kateg| %>

          <div class="row flex-row">
            <div class="col-xs-6 flex-col-6">
              <% checked_yes, checked_no = marked_as_chosen_category(categories_form, chosen_category_ids, kateg) %>
              <label for=<%= "#{item}_category_#{kateg.id}_yes"%> class="radio-inline required control-label" ><input class="radio_buttons required"  type="radio" name=<%="#{item}[applicable_existing_categories][#{kateg.id}]"%> id=<%="#{item}_category_#{kateg.id}_yes"%> value='true' <%= checked_yes %> ><%= t :si, default: "Yes" %></label>
              <label for=<%= "#{item}_category_#{kateg.id}_no"%> class="radio-inline required control-label" ><input class="radio_buttons required"  type="radio" name=<%="#{item}[applicable_existing_categories][#{kateg.id}]"%> id=<%="#{item}_category_#{kateg.id}_no"%> value='false' <%= checked_no %> ><%= t :non, default: "No" %></label>
              <p class="radio-inline"><%= kateg.name %></p>
            </div>


            <div class="col-xs-6 text-right flex-col-6 flex-bottom-aligned-content">
              <% checked_if_main_category = is_main_category?(categories_form, chosen_category_ids, kateg) %>
              <label for=<%= "#{item}_main_category_#{kateg.id}"%> class="radio-inline padding-right-20 " ><%= t :main_category, default: "main category:" %></label><input class="radio_buttons required"  type="radio" name=<%="#{item}[main_category_id]"%> id=<%="#{item}_main_category_#{kateg.id}"%> value=<%="#{kateg.id}" %> <%= checked_if_main_category %> >
            </div>
          </div>


        <% end %>


    </div>
    <!-- End Checkboxes Categories Chooser -->

    <% missing_main_category_name_error_class = categories_form.errors[:missing_new_category_name].present? ? 'has-error' : '' %>
    <div class=<%= missing_main_category_name_error_class %> >
      <!-- New Category Text Input -->
      <div class="form-group">
        <%= label_tag("#{item}_add_category", t(:item_add_new_category, this_item: @this_item_i18n_name, default: "Add a new category that will apply to #{@this_item_i18n_name} here:"), class: "required control-label") %>
        <%= text_field_tag("#{item}[new_category_name]", categories_form.new_category_name || '', id:"#{item}_add_category", class: "form-control", placeholder: t(:item_add_new_category, this_item: @this_item_i18n_name, default: "Add a new category that will apply to #{@this_item_i18n_name} here:")) %>
      </div>
      <!-- End New Category Text Input -->


      <!-- Radio to make new category the main category -->
      <div class="form-group">
        <label class="required control-label">
          <%= t :make_this_new_category_main_category_for_this_item?, this_item: @this_item_i18n_name, default: "Do you want to make this new category the main category applicable to #{@this_item_i18n_name}?" %>
        </label>
        <div>
          <label for=<%= "#{item}_new_category_main_category_yes"%> class="radio-inline" ><input class="radio_buttons required"  type="radio" name=<%="#{item}[main_category_id]"%> id=<%="#{item}_new_category_main_category_yes"%> value='new_category' <%= "checked" if categories_form.main_category_id == "new_category" %> ><%= t :si, default: "Yes" %></label>
        </div>
      </div>
      <!-- End Radio new category -> main category -->
      <% if categories_form.errors[:missing_new_category_name].present? %>
        <p><span class="help-block"><%= categories_form.errors[:missing_new_category_name].last %></span></p>
      <% end %>
    </div>

    <% if categories_form.errors[:missing_categories].present? %>
      <p><span class="help-block"><%= categories_form.errors[:missing_categories].last %></span></p>
    <% end %>
    <hr>

  </div>
</div>

