<%# shared/article_aktion/_additional_pictures_form.html.erb %>
<%# called from:
- articles/_form.html.erb
- aktions/_form.html.erb
%>

<% i = 0 %>
<% 3.times do %>

  <%= render partial: 'shared/portrait_aktion_article/additional_picture_form.html.erb',
      locals: {
        file_field_name: "#{item}[new_md][#{i}][file]",
        file_field_id: "#{item}_new_md_#{i}_file",
        title_field_name: "#{item}[new_md][#{i}][title]",
        title_field_id: "#{item}_new_md_#{i}_title"
      }
  %>

  <!-- Check box picture is for_card -->
  <span class="radio">
    <label for=<%= "#{item}_new_md_#{i}_for_card"%> >
      <input class="radio_buttons required"  type="radio" name=<%="#{item}[for_card]"%> id=<%="#{item}_new_md_#{i}_for_card"%> value=<%= "new_md_#{i}"%> >
      <%= t :check_box_label_is_picture_for_card, item: item_18n_name, default: "You want to use this picture as main illustration on the index pages where this #{item_18n_name} is displayed." %>
    </label>
  </span>
  <!-- end check box picture is for_card -->

  <!-- Check box picture is for_carousel -->
  <div>
    <%= t :check_box_label_is_picture_for_carousel, default: "You want this picture to appear in the carousel: " %>
    <label for=<%= "#{item}_new_md_#{i}_for_carousel_yes"%> class="radio-inline" >
      <input class="radio_buttons required"  type="radio" name=<%="#{item}[new_md][#{i}][for_carousel]"%> id=<%="#{item}_new_md_#{i}_for_carousel_yes"%> value='true' checked ><%= t :si, default: "Yes" %>
    </label>
    <label for=<%= "#{item}_new_md_#{i}_for_carousel_no"%> class="radio-inline" >
      <input class="radio_buttons required"  type="radio" name=<%="#{item}[new_md][#{i}][for_carousel]"%> id=<%="#{item}_new_md_#{i}_for_carousel_no"%> value='false'><%= t :no, default: "No" %>
    </label>
  </div>
  <!-- end check box picture is for_carousel -->

  <hr>
  <% i = i + 1 %>
<% end %>
