
<div class="flexslider" id="slide-actions">
  <ul class="slides">

    <% aktions_for_home_page.each do | aktion | %>
      <li class="slide">
        <p class="categorie">
          <%= link_to aktion[:country_name], country_path(aktion[:item].country_id) %> /
          <%= link_to aktion[:category].name, category_path(aktion[:category]) %>
        </p>
        <%= link_to aktion_path(aktion[:item]) do %>
          <div class="img-wrapper">
            <%= image_tag(aktion[:media], alt: "") %>
            <div class="layer"></div>
          </div>
              <h3><%= aktion[:title]%></h3>
        <% end %>
      </li>
    <% end %>

  </ul>
</div>
