<%# home_pages/partials/shared/_main_content.html.erb %>

<div class="page-content" id="main-content">


  <!-- Main content-->
  <div class="container" id="container-w-bg">
    <!-- Actions ADN -->
    <div class="row" id="actions">
      <div class="col-xs-12 text-center">
        <h2><%= t(:adn_actions, default: "Actions ADN") %></h2>
      </div>
      <div class="col-xs-12">
        <%= render partial: 'home_pages/partials/show/diaporama_actions',
          locals: {
            aktions: aktions
          }
        %>
      </div>
    </div>

    <hr>

    <!-- Articles and portraits -->
    <div class="row" id="articles-et-protagonistes">
      <!-- Articles -->
      <div class="col-xs-12 col-sm-8">
        <div class="col-xs-12 text-center">
          <h2><%= t(:last_articles, default: "Derniers articles")%></h2>
        </div>


        <!-- Articles -->
        <%= render partial: 'shared/recommandations_iterator',
          locals: {
            collection: articles,
            additional_class_names: '',
            sub_partial: 'home_pages/partials/show/article_recommandation',
            sub_sub_partial: ''
          }
        %>

      </div><!-- fin des articles -->
      <!-- Portraits -->
      <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 protagonistes">
        <div class="col-xs-12 text-center">
          <h2><%= t(:protagonists, default: "Protagonistes") %></h2>
        </div>
        <%= render partial: 'home_pages/partials/show/portrait_recommandations.html.erb',
            locals: {
              portraits: portraits_for_home_page
            }
        %>
      </div>
    </div><!-- /.row -->

    <hr>

    <div class="row">

      <!-- liens vers les catégories -->
      <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center" id="categories">
        <h2><%= t(:categories, default: "Catégories") %></h2>

        <%= render partial: 'shared/categories_block',
          locals: {
            span_class_name: 'categorie'
          }
        %>

      </div>

      <!-- liens -->
      <div class="col-xs-12 col-sm-4 text-center" id="liens">

        <!-- external links -->
        <%= yield :external_links %>

      </div>
    </div>
  </div>
</div>
