<% if @article_form.errors.any? %>
  <ul>
    <%= @article_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@article_form, url: articles_path, method: :post, html: { multipart: true }) do |f| %>
  <div>
    <%= f.label :article_title %>
  </div>
  <div>
    <%= f.text_field :article_title %>
  </div>
  <div>
    <%= f.label :article_teaser %>
  </div>
  <div>
    <%= f.text_area :article_teaser, rows: 5 %>
  </div>
  <div>
    <%= f.label :article_body %>
  </div>
  <div>
    <%= f.cktext_area :article_body, rows: 10, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini', language: I18n.locale} %>
  </div>
  <div>
    <%= f.label :gallery_title %>
  </div>
  <div>
    <%= f.text_field :gallery_title %>
  </div>
  <div>
    <%= f.label :media_title %>
  </div>
  <div>
    <%= f.text_field :media_title %>
  </div>
  <div>
    <%= f.label :media_author %>
  </div>
  <div>
    <%= f.text_field :media_author %>
  </div>
  <div>
    <%= f.label :media_source %>
  </div>
  <div>
    <%= f.text_field :media_source %>
  </div>
  <div>
    <%= f.label :media_creation_date %>
  </div>
  <div>
    <%= f.date_field :media_creation_date %>
  </div>
  <div>
    <%= f.label :media_file %>
  </div>
  <div>
    <%= f.file_field :media_file %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
