<% content_for :title, raw(@article.title) %>

<% provide :admin_nav_content_type do %>
  <% "#{@article.model_name.name}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_delete_content, default: 'Delete'), article_path, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") } %></li>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_article_path %></li>
  <li><%= link_to t(:admin_nav_show_content, default: 'Show'), @particle %></li>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), articles_path %></li>
<% end %>

<% render 'shared/admin_nav_content' %>


<%= render "form" %>

