<% content_for :title, t(:article_admin_index_title, default: "Articles admin index") %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_article_path %></li>
<% end %>

<%#= react_component('NewsIndexPage', { articles: @articles } ) %>
<div class="container">
  <h1>Listing articles</h1>

  <%= link_to t('.new_article'), new_article_path %>

  <h3>Ordered by publication status</h3>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Posted at</th>
      <th>Status</th>
      <th>Pics</th>
      <th>for cards</th>
      <th>FR</th>
      <th>EN</th>
      <th>PY</th>
      <th>中文</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @articles.sort{|a,b| a.status <=> b.status}.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.author.full_name %></td>
      <td><%= l(article.posted_at, format: :long) %></td>
      <td><%= article.status %></td>
      <td><%= article.picturizings.count %></td>
      <td><%= article.picturizings.select{|p| p.for_card == 'true'}.count %></td>
      <td><%= article.translations.select { |at| at.locale == :fr }.size %></td>
      <td><%= article.translations.select { |at| at.locale == :en }.size %></td>
      <td><%= article.translations.select { |at| at.locale == :ru }.size %></td>
      <td><%= article.translations.select { |at| at.locale == :'zh-CN' }.size %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <h3>Ordered by publication date</h3>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Posted at</th>
      <th>Status</th>
      <th>Pics</th>
      <th>for cards</th>
      <th>FR</th>
      <th>EN</th>
      <th>PY</th>
      <th>中文</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @articles.sort_by(&:posted_at).reverse.each do |article| %>
  <%# @articles.sort{|a,b| Date.parse(a.posted_at) <=> Date.parse(b.posted_at)}.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.author.full_name %></td>
      <td><%= l(article.posted_at, format: :long) %></td>
      <td><%= article.status %></td>
      <td><%= article.picturizings.count %></td>
      <td><%= article.picturizings.select{|p| p.for_card == 'true'}.count %></td>
      <td><%= article.translations.select { |at| at.locale == :fr }.size %></td>
      <td><%= article.translations.select { |at| at.locale == :en }.size %></td>
      <td><%= article.translations.select { |at| at.locale == :ru }.size %></td>
      <td><%= article.translations.select { |at| at.locale == :'zh-CN' }.size %></td>
      <td><%= link_to 'Show', article %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") } %></td>
    </tr>
  <% end %>
  </table>

  <br />

</div>
