<% content_for :title, t(:article_admin_index_title, default: "Articles admin index") %>

<%= render partial: 'shared/aktion_article_portrait_site_edito/index_top',
    locals: {
      items_name: @articles.first.class.name.underscore.pluralize,
      collec: @articles,
      new_item: t('.new_article'),
      new_item_path: new_article_path
    }
%>

<%#= react_component('NewsIndexPage', { articles: @articles } ) %>
<div class="container">

  <%# :index_top comes from shared/aktion_article_portrait_site_edito/_index.html.erb %>
  <%= yield :index_top %>

  <%# rendered below %>
  <% provide :first_header_rows do %>
    <th>Id</th>
    <th><%= t(:titre, default: "Titre") %></th>
    <th><%= t(:author, default: "Auteur") %></th>
    <th><%= t(:posted_at, default: "Date de publication") %></th>
    <th></th>
    <th></th>
    <th></th>
  <% end %>

  <%# rendered below %>
  <% provide :additional_header_rows do %>
    <th></th>
    <th></th>
  <% end %>

  <%# rendered below %>
  <% provide :big_table_top do %>
      <tr>
        <%= yield :first_header_rows %>
        <%= yield :additional_header_rows %>
      </tr>
  <% end %>


  <% sub_partial = "articles/partials/index_table_article_specific_cols" %>


  <%# DRAFTS %>
  <% draft_articles = @articles.select{|a| a.status == "draft" } %>
  <h3><%= t(:draft, default: "Brouillons", count: draft_articles.count).capitalize %></h3>
  <table class="table table-striped">
    <%= yield :big_table_top %>

  <% draft_articles.each do |article| %>
    <tr>
      <%= render 'shared/aktion_article_portrait_site_edito/index_table_first_cols', item: article, sub_partial: sub_partial %>
      <td>
        <% if ArticleUpdateForm.new(id: article.id, status: "published").valid? %>
          <%= render 'shared/aktion_article_portrait_site_edito/index_table_update_col', item: article, status_update_name: t(:publish, default: 'Publier'), status_update_type: "published" %>
        <% end %>
      </td>
      <td>
        <% if ArticleUpdateForm.new(id: article.id, status: "featured").valid? %>
          <%= render 'shared/aktion_article_portrait_site_edito/index_table_update_col', item: article, status_update_name: t(:feature, default: 'A la une'), status_update_type: "featured" %>
        <% end %>
      </td>

      <%= render 'shared/aktion_article_portrait_site_edito/index_table_last_cols', item: article %>
    </tr>
  <% end %>
  </table>

  <br />

  <%= render 'shared/aktion_article_portrait_site_edito/bottom_tables_builder',
      items: @articles,
      sub_partial: sub_partial
  %>

</div>
