
<div class="container">
  <h1>Listing actions</h1>

  <%= link_to t('New Aktion'), new_aktion_path %>

  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Country</th>
      <th>Action date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @aktions.each do |aktion| %>
    <tr>
      <td><%= aktion.id %></td>
      <td><%= aktion.title %></td>
      <td><%= aktion.country.name %></td>
      <td><%= aktion.aktion_date %></td>
      <td><%= aktion.status %></td>
      <td><%= link_to 'Show', aktion %></td>
      <td><%= link_to 'Edit', edit_aktion_path(aktion) %></td>
      <td><%= link_to 'Destroy', aktion, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") } %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>
