<% content_for :title, t(:aktion_admin_index_title, default: "Actions admin index") %>


<%= render partial: 'shared/aktion_article_portrait_site_edito/index_top',
    locals: {
      items_name: "actions",
      collec: @aktions,
      new_item: t(:new_action),
      new_item_path: new_aktion_path
    }
%>

<div class="container">

  <%= yield :index_top %>

  <% provide :first_header_rows do %>
    <th>Id</th>
    <th><%= t(:titre, default: "Titre") %></th>
    <th><%= t(:country, default: "Pays") %></th>
    <th><%= t(:aktion_date, default: "Date de l'action") %></th>
    <th><%= t(:posted_at, default: "Date de publication") %></th>
    <th></th>
    <th></th>
    <th></th>
  <% end %>

  <% provide :additional_header_rows do %>
    <th></th>
    <th></th>
  <% end %>

  <% provide :big_table_top do %>
      <tr>
        <%= yield :first_header_rows %>
        <%= yield :additional_header_rows %>
      </tr>
  <% end %>

  <% sub_partial = "aktions/partials/index_table_aktion_specific_cols" %>

  <%# DRAFTS %>
  <% draft_aktions = @aktions.select{|a| a.status == "draft" } %>
  <h3><%= t(:draft, default: "Brouillons", count: draft_aktions.count).capitalize %></h3>
  <table class="table table-striped">
    <%= yield :big_table_top %>

  <% draft_aktions.each do |aktion| %>
    <tr>
      <%= render 'shared/aktion_article_portrait_site_edito/index_table_first_cols', item: aktion, sub_partial: sub_partial %>

      <td>
        <%# FIXME -- This does not belong to the view logic %>
        <% if AktionUpdateForm.new(id: aktion.id, status: "published").valid? %>
          <%= link_to t(:publish, default: 'Publier').capitalize, aktion_path(id: aktion.id, aktion: {id: aktion.id, status: "published"}), method: :patch %>
        <% end %>
      </td>
      <td>
        <% if AktionUpdateForm.new(id: aktion.id, status: "featured").valid? %>
          <%= link_to t(:feature, default: 'A la une').capitalize, aktion_path(id: aktion.id, aktion: {id: aktion.id, status: "featured"}), method: :patch %>
        <% end %>
      </td>

      <%= render 'shared/aktion_article_portrait_site_edito/index_table_last_cols', item: aktion %>

    </tr>
  <% end %>
  </table>

  <br />

  <%= render 'shared/aktion_article_portrait_site_edito/bottom_tables_builder',
      items: @aktions,
      sub_partial: sub_partial
  %>

</div>
