<p id="notice"><%= notice %></p>

<h1>Listing Aktions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aktions.each do |aktion| %>
      <tr>
        <td><%= link_to 'Show', aktion %></td>
        <td><%= link_to 'Edit', edit_aktion_path(aktion) %></td>
        <td><%= link_to 'Destroy', aktion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aktion', new_aktion_path %>
