<%# aktions/show.html.erb %>
<%# rendered in layout/aktions.html.erb %>
<% content_for :title, raw(@aktion.title) %>

<% provide :admin_nav_content_type do %>
  <% "#{@aktion.class.name}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_delete_content, default: 'Delete'), aktion_path, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") } %></li>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_aktion_path %></li>
  <li><%= link_to t(:admin_nav_edit_content, default: 'Edit'), edit_aktion_path(@aktion) %></li>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), aktions_path %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<% provide :pictures do %>
  <%= render partial: 'shared/article_aktion/galerie_photos',
      locals: {
        pictures: @media_containers,
        sub_partial: 'shared/article_aktion/slide_wrapper',
        class_name_for_slider: 'slides',
        item: ''
      }
  %>
<% end %>

<%= render partial: 'aktions/partials/container',
    layout: "shared/article_aktion_static/container_layout",
    locals: {
      parameters: {
        title: @aktion.title,
        teaser: @aktion.teaser || '',
        body: @aktion.body
      }
    }
%>
