<div class="container">
  <div class="contenu">


    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <h1>
          <%= item.title %>
        </h1>
        <!-- FIXME = item.teaser -->
        <h2 class="resume">
          <%= item.teaser.html_safe %>
        </h2>
      </div>
    </div>

    <%= render partial: 'articles/partials/galerie_photos', locals: {
      pictures: item.media_containers
      }
    %>


    <div class="row contenu-principal" id="container-w-bg">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= item.body.html_safe %>

        <div class="conteneur-image text-center">
          <img src="/contenu/chine-personnes.jpg" alt="">
          <p class="legende">Une légende ici</p>
        </div>

        <div class='embed-container'><iframe src='https://player.vimeo.com/video/61422350' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>


        <hr>

        <% unless is_aktion %>

          <%= render partial: "articles/partials/footer", locals: {article: item} %>

        <% end %>

      </div>
    </div>
  </div>
</div>

