<!-- Sidebar -->
<div id="sidebar-wrapper">

    <div class="menu-links">
      <ul class="list-unstyled">
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>
          <% end %>
        </li>
        <% @countries.each do |kountry| %>
          <li>
          <%= link_to t(kountry.title), country_path(kountry) %>
          </li>
        <% end %>
        <li>
          <%= link_to t(:portraits, default: "Portraits"), portrait_intro_path(1) %>
        </li>
      </ul>
  </div>
  <hr>
  <div class="menu-tags">
    <ul class="list-inline">
      <% @categories_for_side_nav.each do | category | %>
        <li>
          <%= link_to category.name, category_path(category.id) %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
    <div class="input-group" id="search-form">
      <!-- FIXME -->
      <input type="text" class="form-control" placeholder=<%= t(:search, default: "Rechercher...")%>>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
    <hr>
    <div class="menu-links">
      <ul class="list-unstyled">
        <li><%= link_to t(:the_adn_project, default: "Le projet ADN "), static_page_path(1) %></li>
        <li><%= link_to t(:contact_us, default: "Nous contacter"), static_page_path(4) %></li>
      </ul>
  </div>
  <div class="close-link">
      <a href="#wrapper" class="menu-toggle"><span class="sr-only"><%=t(:close, default: "Close")%></span></a>
    </div>
</div>
  <!-- /#sidebar-wrapper -->
