<%# linkings/index.html.erb %>

<%# ################################ %>
<%# FIXME -- MAJOR refactoring needed for the Aktion/Article/Portrait container and calling of partials
--> all this need to be downsized!!!
--> need to get rid of half of the ifs
%>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_delete_content, default: 'Delete'), polymorphic_path(@parent_item, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") }) %></li>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), polymorphic_url(@parent_item.class.new, action: :new, routing_type: :path) %></li>
  <li><%= link_to t(:admin_nav_show_content, default: 'Show'), polymorphic_url(@parent_item) %></li>
  <li><%= link_to t(:admin_nav_edit_content, default: 'Edit'), polymorphic_url(@parent_item, action: :edit, routing_type: :path) %></li>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), polymorphic_path(@parent_item.class.new) %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<%# ############################### %>
<%# Recommandations forms -- Common to all types %>
<% render partial: 'shared/aktion_article_portrait/recommandations_forms_wrapper',
  locals: {
    collections: {
      existing_links: @parent_item.existing_links,
      linkables: @parent_item.linkables
    }
  }
%>

<%# ############################### %>
<%# sliders for Aktion or Article or picture for Portrait %>
<% if %(Aktion Article).include?(@parent_item.model_name.name) %>

  <% provide :pictures do %>
    <%= render partial: 'shared/aktion_article/galerie_photos',
        locals: {
          parent: @parent_item,
          # FIXME - Check @media_containers method in the Aktion and Article controller as well as in the show view for Article and Aktion
          pictures: @parent_item.media_containers_for_carousel,
          sub_partial: 'shared/aktion_article/slide_wrapper',
          class_name_for_slider: 'slides'
        }
    %>
  <% end %>

<% else %>

  <% if @parent_item.media_container.present? %>
    <% provide :picture do %>
      <div class="row contenu illustration">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
          <%= image_tag(@parent_item.media_container.media(:for_slider), alt: @parent_item.media_container.title) %>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>




<%# ############################### %>
<%# if it is an article, render article's container (with author name, posted at and posted from stuffs) %>
<% if @parent_item.model_name.name == "Article" %>
  <% provide :author_full_name do %>
    <%= @parent_item.author.full_name %>
  <% end %>

  <%= render partial: 'articles/partials/container',
      layout: "shared/aktion_article_static/container_layout",
      locals: {
        parameters: {
          title: @parent_item.title,
          teaser: @parent_item.teaser  || '',
          body: @parent_item.body || '',
          posted_from_location: @parent_item.posted_from_location,
          posted_at: @parent_item.posted_at
        }
      }
  %>
<%# if it is an aktion, render aktion's container %>
<% elsif @parent_item.model_name.name == "Aktion" %>

  <%= render partial: 'aktions/partials/container',
      layout: "shared/aktion_article_static/container_layout",
      locals: {
        parameters: {
          title: @parent_item.title,
          teaser: @parent_item.teaser || '',
          body: @parent_item.body || ''
        }
      }
  %>

<%# if it is a portrait, render portrait's container (with its own picture logic) %>
<% elsif @parent_item.model_name.name == "Portrait" %>

  <%= render partial: 'portraits/partials/container',
    object: @parent_item, locals: {
      parameters: {
        title: @parent_item.title,
        teaser: @parent_item.teaser || '',
        body: @parent_item.body || ''
      }
    }
  %>

<% end %>

