<%# home_pages/_form.html.erb %>

<%= simple_form_for(@home_page) do |f| %>

  <%= f.error_notification %>

  <!-- Edito -->
  <% editorial = f.cktext_area :editorial, rows: 10, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini', language: I18n.locale} %>
  <%= render partial: 'home_pages/partials/shared/editorial_wrapper',
    locals: {
      editorial: editorial,
      editorial_id: @home_page.editorial_id
    }
  %>


  <!-- Call to action -->
  <% call_to_action = f.cktext_area :call_to_action, rows: 2, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini', language: I18n.locale} %>
  <%= render partial: 'home_pages/partials/shared/call_to_action_wrapper',
    locals: {
      call_to_action: call_to_action
    }
  %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>

