<%# home_pages/_form.html.erb %>

<%= simple_form_for(@home_page) do |f| %>

  <%= f.error_notification %>

  <!-- Edito -->
  <% editorial = f.cktext_area :editorial, rows: 10, :ckeditor => {language: I18n.locale} %>
  <%= render partial: 'home_pages/partials/shared/editorial_wrapper',
    locals: {
      editorial: editorial,
      editorial_id: @home_page.editorial_id
    }
  %>

  <!-- Call to action -->
  <% call_to_action = f.cktext_area :call_to_action, rows: 2, :ckeditor => {language: I18n.locale} %>
  <%= render partial: 'home_pages/partials/shared/call_to_action_wrapper',
    locals: {
      call_to_action: call_to_action
    }
  %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= f.button :submit, t(:save_your_changes, default: 'Save your changes!!!'), class: 'my-submit-button btn btn-primary btn-lg btn-block' %>
      </div>
    </div>
  </div>

<% end %>

