<% content_for :title, t(:home_page_title, default: "Accueil") %>
<% content_for :body_class, "page-accueil" %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:new_article, default: "Nouvel article"), new_article_path %></li>
  <li><%= link_to t(:new_action, default: "Nouvelle action"), new_aktion_path %></li>
  <li><%= link_to t(:new_portrait, default: "Nouvel article"), new_portrait_path %></li>
  <li><%= link_to t(:new_editorial, default: "Nouvel édito"), new_site_editorial_path %></li>
  <li role="separator" class="divider"></li>
  <li><%= link_to t(:admin_nav_edit_content, default: 'Edit'), edit_home_page_path(@home_page) %></li>
<% end %>

<% render partial: 'shared/admin_nav_translation_menu_wrapper' %>

<!-- Edito -->
<%= render partial: 'home_pages/partials/shared/editorial_wrapper',
  locals: {
    editorial: @home_page.short_editorial || '',
    editorial_id: @home_page.editorial_id
  }
%>

<!-- Call to action -->
<%= render partial: 'home_pages/partials/shared/call_to_action_wrapper',
  locals: {
    call_to_action: @home_page.call_to_action || ''
  }
%>

<% if @home_page.external_linkings.present? %>
  <% provide :external_links do %>
    <%= render partial: 'shared/country_home_page/external_links', locals: {
      sub_partial: 'shared/country_home_page/external_link',
      external_linkings: @home_page.external_linkings,
      class_name_for_ul: "list-unstyled "
      }
    %>
  <% end %>
<% end %>

<!-- HOME_PAGES LAYOUT CONSTANT -->
<%= render partial: 'home_pages/partials/shared/main_content',
  locals: {
    aktions: @aktions,
    articles: @articles,
    portraits_for_home_page: @portraits_for_home_page
  }
%>

