<%# portraits/_form.html.erb %>

<%= simple_form_for @portrait, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <%# dispatching the form fields in variables to pass them to the partial %>
  <% title = f.input :title, label: false %>
  <% teaser = f.cktext_area :teaser, rows: 10, :ckeditor => {language: I18n.locale} %>
  <% body = f.cktext_area :body, rows: 50, :ckeditor => {language: I18n.locale} %>

  <% render partial: 'shared/aktion_article_portrait_site_edito/status_submit_button',
    object: @portrait,
    locals: {
      f: f
    }
  %>

  <% provide :picture do %>
    <div class="row contenu illustration">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

        <%= yield :picture_form_intro %>

        <%= render partial: 'shared/aktion_article_portrait/additional_picture_form.html.erb',
            locals: {
              file_field_name: "portrait[new_md][file]",
              file_field_id: "portrait_new_md_file",
              title_field_name: "portrait[new_md][title]",
              title_field_id: "portrait_new_md_title",
              title_value: @portrait.new_md ? @portrait.new_md["title"] : ''
            }
        %>

        <hr>
      </div>
    </div>
  <% end %>

  <%# building a form to allow user to change the categories applying to the portrait, select the main category and add new categories %>
  <% provide :categories_form do %>
    <%= render partial: 'shared/aktion_article_portrait/categories_form',
      object: @portrait,
      locals: {
        chosen_category_ids: @portrait.categorizings.map(&:category_id),
        item: 'portrait'
      }
    %>
  <% end %>

  <%# render the partial with the variables passed in an object %>
  <%= render partial: 'portraits/partials/container',
    object: @portrait, locals: {
      parameters: {
        title: title,
        teaser: teaser,
        body: body
      }
    }
  %>

<% end %>
