<% content_for :title, raw(@portrait.title) %>
<% content_for :body_class, "portraits" %>

<% provide :admin_nav_content_type do %>
  <% "#{@portrait.class.name}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_delete_content, default: 'Delete'), portrait_path, method: :delete, data: { confirm: "Are you sure you want to delete this #{@portrait.class.name}?" } %></li>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_portrait_path %></li>
  <li><%= link_to t(:admin_nav_show_content, default: 'Show'), @portrait %></li>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), portraits_path %></li>
  <li><%= link_to t(:admin_nav_show_portrait_intro, default: 'Portrait intro page'), portrait_intro_path(1) %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<% provide :picture_form_intro do %>
  <%= image_tag(@portrait.media_container.media(:for_slider), alt: @portrait.media_container.title) %>
  <div class="form-group">
    <%= text_field_tag("portrait[picture_title]", @portrait.media_container.title, id:"portrait_picture_title", class: "form-control") %>
  </div>
  <p>
    <%= t :portrait_update_file_upload_back_office_legend, default: "If you want to change your picture, please upload a file here:" %>
  </p>
<% end %>

<%= render 'form' %>
