<% content_for :title, t(:portrait_admin_index_title, default: "Portraits admin index") %>
<% content_for :body_class, "portraits" %>


<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_show_portrait_intro, default: 'Portrait intro page'), portrait_intro_path(1) %></li>
<% end %>

<%= render partial: 'shared/aktion_article_portrait_site_edito/index_top',
    locals: {
      items_name: @portraits.first.class.name.underscore.pluralize,
      collec: @portraits,
      new_item: t(:new_portrait),
      new_item_path: new_portrait_path
    }
%>

<div class="container">
  <%= yield :index_top %>

  <% provide :first_header_rows do %>
    <th>Id</th>
    <th><%= t(:name, default: "Nom") %></th>
    <th></th>
    <th></th>
    <th></th>
  <% end %>

  <% provide :additional_header_rows do %>
    <th></th>
    <th></th>
  <% end %>

  <% provide :big_table_top do %>
      <tr>
        <%= yield :first_header_rows %>
        <%= yield :additional_header_rows %>
      </tr>
  <% end %>


  <% sub_partial = "portraits/partials/index_table_empty" %>


  <%# DRAFTS %>
  <% draft_portraits = @portraits.select{|a| a.status == "draft" } %>
  <h3><%= t(:draft, default: "Brouillons", count: draft_portraits.count).capitalize %></h3>
  <table class="table table-striped">
    <%= yield :big_table_top %>

  <% draft_portraits.each do |portrait| %>
    <tr>
      <%= render 'shared/aktion_article_portrait_site_edito/index_table_first_cols', item: portrait, sub_partial: sub_partial %>
        <% portrait.status = "published" %>

        <% if portrait.valid? %>
          <%= render 'shared/aktion_article_portrait_site_edito/index_table_update_col', item: portrait, status_update_name: t(:publish, default: 'Publier'), status_update_type: "published" %>
        <% end %>

        <% portrait.status = "featured" %>
        <% if portrait.valid? %>
          <%= render 'shared/aktion_article_portrait_site_edito/index_table_update_col', item: portrait, status_update_name: t(:feature, default: 'A la une'), status_update_type: "featured" %>
        <% end %>

      <%= render 'shared/aktion_article_portrait_site_edito/index_table_last_cols', item: portrait %>
    </tr>
  <% end %>
  </table>

  <br />


  <%= render 'shared/aktion_article_portrait_site_edito/bottom_tables_builder',
      items: @portraits,
      sub_partial: sub_partial
  %>


</div>
