<%# portraits/show.html.erb %>

<% content_for :title, raw(@portrait.title) %>
<% content_for :body_class, "portraits" %>

<% provide :admin_nav_content_type do %>
  <% "#{@portrait.class.name}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_delete_content, default: 'Delete'), portrait_path, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default:"Are you sure you want to delete #{@this_item_i18n_name}?") } %></li>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_portrait_path %></li>
  <li><%= link_to t(:admin_nav_edit_content, default: 'Edit'), edit_portrait_path(@portrait) %></li>
  <li><%= link_to t(:admin_nav_manage_links, default: 'Manage links'), linkings_for_path(@portrait.class.name, @portrait.id) %></li>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), portraits_path %></li>
  <li><%= link_to t(:admin_nav_show_portrait_intro, default: 'Portrait intro page'), portrait_intro_path(1) %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<% if @portrait.media_container.present? %>
  <% provide :picture do %>
    <div class="row contenu illustration">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= image_tag(@portrait.media_container.media(:for_slider), alt: @portrait.media_container.title) %>
      </div>
    </div>
  <% end %>
<% end %>

<% render partial: 'shared/aktion_article_portrait/recommandations',
    locals: {
      collection: @portrait,
      yieldable_name: "existing_external_linkings",
      linkings_heading: t(:related, default: "En lien"),
      sub_sub_partial: 'shared/aktion_article_portrait/recommandation_picture_title'
    }
%>

<%# render the partial with the variables passed in a hash %>
<%= render partial: 'portraits/partials/container',
  object: @portrait, locals: {
    parameters: {
      title: @portrait.title,
      teaser: @portrait.teaser || '',
      body: @portrait.body || ''
    }
  }
%>
