<% content_for :title, t(:portraits, default: "Portraits") %>
<% content_for :body_class, "portraits" %>


<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <h1><%= @portrait.title %></h1>
        <h2 class="resume">
          <%= @portrait.teaser %>
        </h2>
      </div>
    </div>
    <div class="row contenu illustration">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= image_tag(@portrait.media_containers.first.media, alt: "") %>
      </div>
    </div>
    <div class="row contenu-principal">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= @portrait.body %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid recommandations">
  <div class="container">
    <h2><%= t(:related, default: "En lien") %></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 recommandation">
          <p class="categorie"><a href="#">En Chine</a></p>
          <a href="/article.php">
          <img src="/img/defaut-horiz-thin.png" alt="">
          <h3>ADN en Chine - Avril</h3>
          </a>
      </div>
    </div>
  </div>
</div>
