<%# portraits/partials/_container.html.erb %>
<%# called from:
- portraits/show.html.erb
%>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%# Title %>
        <h1><%= parameters[:title] %></h1>
        <%# Teaser %>
        <h2 class="resume">
          <%= parameters[:teaser].html_safe %>
        </h2>
      </div>
    </div>
    <%# Picture %>
    <%= yield :picture %>

    <%# Body %>
    <div class="row contenu-principal">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= parameters[:body].html_safe %>
      </div>
    </div>

    <%= yield :categories_form %>

    <%= yield :status_selector %>

    <%= yield :submit_button %>

  </div>
</div>

<%= render partial: 'portraits/partials/recommandations' %>

