<% content_for :title, t(:site_editorial_admin_index_title, default: "Editorials admin index") %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_site_editorial_path %></li>
<% end %>



<div class="container">
  <h1>Listing Site Editorials</h1>

  <%= link_to t(:new_editorial, default: 'New editorial'), new_site_editorial_path %>

  <h3>Ordered by publication date</h3>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Posted at</th>
      <th>Updated at</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @site_editorials.sort_by(&:posted_at).reverse.each do |site_editorial| %>
    <tr>
      <td><%= site_editorial.id %></td>
      <td><%= site_editorial.title %></td>
      <td><%= l(site_editorial.posted_at, format: :long) %></td>
      <td><%= site_editorial.status %></td>
      <td><%= link_to 'Show', site_editorial %></td>
      <td><%= link_to 'Edit', edit_site_editorial_path(site_editorial) %></td>
      <td><%= link_to 'Destroy', site_editorial, method: :delete, data: { confirm: t(:deletion_confirmation, this_item: @this_item_i18n_name, default: "Are you sure you want to delete #{@this_item_i18n_name}?") } %></td>
    </tr>
  <% end %>
  </table>

</div>
