<%# media_containers/crop.html.erb %>


<% content_for :after_js do %>
  <%= javascript_tag do -%>
    var cropBox = function() {
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        aspectRatio: 1200/500
      });
    };

    var ratio = <%= @media_container.media_geometry(:original).width %> / <%= @media_container.media_geometry(:for_slider).width %>;

    function update_crop(coords){

      var rx = 1200/coords.w;
      var ry = 500/coords.h;
      $('#preview').css({
        width: Math.round(rx * <%= @media_container.media_geometry(:for_slider).width %>) + 'px',
        height: Math.round(ry * <%= @media_container.media_geometry(:for_slider).height %>) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });

      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
    };

    cropBox();
  <% end -%>
<% end %>

<%= image_tag @media_container.media.url(:for_slider), id: "cropbox" %>

<h4>Preview:</h4>
<div style="width:1200px; height:500px; overflow:hidden">
  <%= image_tag @media_container.media.url(:for_slider), :id => "preview", class: "my-img-preview" %>
</div>

<%= simple_form_for @media_container do |f| %>
  <% [:crop_x, :crop_y, :crop_h, :crop_w].each do |attribute| %>
    <%= f.hidden_field attribute, id: attribute %>
  <% end %>
  <p><%= f.submit "Crop" %></p>
<% end %>
