<%# media_containers/show.html.erb %>


<h3>Image for slider or main portrait illustration</h3>
<%= image_tag(@media_container.media(:for_slider), alt: @media_container.title) %>
<p>
  Title: <%= @media_container.title %>
</p>

<h3>Image for card (on index pages)</h3>
<%= image_tag(@media_container.media(:for_card), alt: @media_container.title) %>
<p>
  Title: <%= @media_container.title %>
</p>

<hr>

<h3>Additional information about this picture</h3>
<p>
  Source url: <%= @media_container.source_url.html_safe %>
</p>
<p>
  Picture or painting date: <%= @media_container.source_url %>
</p>
<p>
  Photograph or artist name: <%= @media_container.author %>
</p>
