<% content_for :title, t(:categories_admin_index_title, default: "Categories admin index") %>

<% provide :admin_nav_content_type do %>
  <% "#{@categories.first.class.name.pluralize}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_new_content, default: 'New'), new_category_path %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<h1>Listing Categories</h1>

<%= link_to 'New Category', new_category_path %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
